doctype
html
    head(lang="en")
        title #{title} - My Site
        meta(name="viewport" content="width=device-width")
        link(href="https://necolas.github.io/normalize.css/latest/normalize.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/gallery.css')
        script(src="js/jquery-11.0.min.js")


    body
        header#header.header.clearfix
            .preloader
            .header_nav
                a.header_nav__item.header_nav__item--active.fas.fa-home(href="#")
                a.header_nav__item(href="#about-us") About us
                a.header_nav__item(href="#pages") Pages
                a.header_nav__item(href="#services") Services
                a.header_nav__item(href="#menu") Menu
                a.header_nav__item(href="#gallery") Gallery
                a.header_nav__item(href="#blog") Blog
                a.header_nav__item(href="#contacts") Contacts
            .mobile-nav-button
                .mobile-nav-button__line
                .mobile-nav-button__line
                .mobile-nav-button__line
            .mobile-menu
                ul
                    li: a(href="#about-us") About us
                    li: a(href="#pages") Pages
                    li: a(href="#services") Services
                    li: a(href="#menu") Menu
                    li: a(href="#gallery") Gallery
                    li: a(href="#blog") Blog
                    li: a(href="#contacts") Contacts


            .header_block
                .contacts
                    a.contacts_icon.fas.fa-phone(href="tel:1234567890")
                    a.contacts_tel(href="tel:1234567890") 123-456-7890
                    a.contacts_mail(href="mailto:info@yoursita.com") info@yoursite.com
                a.logo(href="#")
                    .logo_name  Royal
                        .logo_name__bottom event
                    .logo_type catering
                .cart
                    .cart_icon.fas.fa-shopping-cart Your cart:
                    .cart_number 0
                        span.cart_number__text items -
                        span.cart_number__price $0.00

        main#main.main.clearfix
            .flexslider
                ul.slides
                    li
                        img(src="images/slide1.png" alt="")
                    li
                        img(src="images/slide1.png" alt="")
                    li
                        img(src="images/slide1.png" alt="")
                    li
                        img(src="images/slide1.png" alt="")
                .slider_content
                    h1.slider_content__headline A perfect  blend of sensation food
                    a.slider_content__btn.btn.btn--lg(href="#") order service
                a.flexslider_circle-btn.circle-btn.circle-btn--lg.fas.fa-angle-down(href="#welcome")
            #welcome.welcome
                .animated.bounceInLeft.welcome_headline.headline
                    h2.headline_top catering
                    .headline_text Welcome to the Best  Catering Company
                #pages.three-blocks
                    .three-blocks_item.three-blocks_item--events
                        .three-blocks_item__name Events
                        a(href="#").three-blocks_item__btn.circle-btn.circle-btn--md.fas.fa-angle-down
                    .three-blocks_item.three-blocks_item--food
                        .three-blocks_item__name Food & Drinks
                        a(href="#").three-blocks_item__btn.circle-btn.circle-btn--md.fas.fa-angle-down
                    .three-blocks_item.three-blocks_item--venues
                        .three-blocks_item__name Venues
                        a(href="#").three-blocks_item__btn.circle-btn.circle-btn--md.fas.fa-angle-down
                a.welcome_btn.btn.btn--md(href="#") More about us
            #about-us.introduction.introduction--about-us
                .introduction_headline.headline
                    h2.headline_top About Us
                    .headline_text A Short Story About Our Company
                .introduction_content
                    .introduction_content__img.introduction_content__img--about-us
                    .introduction_content__text
                        h3.about-us_headline A Perfect Blend of Sensational Food,  Inspiring Ideas and Professional Staff
                        span.about-us_date 1997
                        p.about-us_text.
                            - Lorem ipsum dolor sit amet, consecte adipiscing elit, sed
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                            magna aliquam erat volutpat.Ut wisi enim ad minim veniam,
                            quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                            aliquip ex ea commodo consequat. Duis autem vel eum iriure.
                            dolor in hendrerit in vulputate velit.
                        a.about-us_text__btn.btn(href="#") read full story

            #menu.grey-block
                .menu
                    .menu_headline.headline
                        h2.headline_top catering
                        .headline_text Our Menu

                    .menu-items
                        .menu-items_item
                            .menu-items_item__img.menu-items_item__img--canapes
                            .menu-items_item__name Canapes
                            a(href="#").menu-items_item__btn.circle-btn.circle-btn--sm.fas.fa-angle-down
                        .menu-items_item
                            .menu-items_item__img.menu-items_item__img--plates
                            .menu-items_item__name small plates
                            a(href="#").menu-items_item__btn.circle-btn.circle-btn--sm.fas.fa-angle-down
                        .menu-items_item
                            .menu-items_item__img.menu-items_item__img--sweets
                            .menu-items_item__name sweets
                            a(href="#").menu-items_item__btn.circle-btn.circle-btn--sm.fas.fa-angle-down
                        .menu-items_item
                            .menu-items_item__img.menu-items_item__img--drinks
                            .menu-items_item__name drinks
                            a(href="#").menu-items_item__btn.circle-btn.circle-btn--sm.fas.fa-angle-down


                    .menu_other & much more sensational  food & drinks...
                    a.menu_btn.btn.btn--md(href="#") view full menu

            #services.event
                .event_headline.headline
                    h2.headline_top services
                    .headline_text Planning a Fabulous  Event?

                .plans-wrap
                    .plans-wrap_left
                        .plan
                            h5.plan_headline weddings
                            .plan_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            .plan_number 01
                        .plan
                            h5.plan_headline corporate
                            .plan_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            .plan_number 02
                        .plan
                            h5.plan_headline socials
                            .plan_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            .plan_number 03
                    .plans-wrap_center
                        .event_center__img
                    .plans-wrap_right
                        .plan
                            h5.plan_headline picnics
                            .plan_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            .plan_number 04
                        .plan
                            h5.plan_headline festivals
                            .plan_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            .plan_number 05
                        .plan
                            h5.plan_headline private Paties
                            .plan_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            .plan_number 06
                a.event_btn.btn.btn--md(href="#") more services
            .book
                .book_headline.headline
                    h2.headline_top book today!
                    .headline_text Book Your Tasting Session or Discuss Your Project
                a.book_btn.btn.btn--md(href="#") send free request

            .grey-block
                .reviews
                    .reviews_headline.headline
                        h2.headline_top testimionials
                        .headline_text Clients About Us
                    .carousel.clearfix
                        .reviews-slides
                            .reviews-slides_img
                            .reviews-slides_content "Having worked with a number of caterers over the years, their level of service was notably high and they were integral to making the day a succes".
                            .reviews-slides_name laura & Adam Ashley, NY
                        .reviews-slides
                            .reviews-slides_img
                            .reviews-slides_content "Having worked with a number of caterers over the years, their level of service was notably high and they were integral to making the day a succes".
                            .reviews-slides_name laura & Adam Ashley, NY
            #blog.blog
                .blog_headline.headline
                    h2.headline_top blog
                    .headline_text Recent Articles

                .blog-items
                    .blog-items_item
                        .blog-items_item__img.blog-items_item__img--location
                        .blog-items_item__date jun 20,2016
                        h4.blog-items_item__headline We Can Help Find a Location That's Right for You
                    .blog-items_item
                        .blog-items_item__img.blog-items_item__img--services
                        .blog-items_item__date jun 20,2016
                        h4.blog-items_item__headline Catering Services for  Fabulous Corporate Events
                    .blog-items_item
                        .blog-items_item__img.blog-items_item__img--menu
                        .blog-items_item__date jun 20,2016
                        h4.blog-items_item__headline Planning a Wedding Menu Can Be Daunting
                a.blog_btn.btn.btn--md(href="#") more articles


            .introduction.introduction--chef
                .introduction_headline.headline
                    h2.headline_top chef
                    .headline_text Who’s Behind Great Service?
                .introduction_content.chef
                    .introduction_content__img.introduction_content__img--chef
                    .introduction_content__text.chef_text
                        p.chef_text__content.
                            Lorem ipsum dolor sit amet, consecte adipiscing elit, sed
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                            magna aliquam erat volutpat.Ut wisi enim ad minim veniam,
                            quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                            aliquip ex ea commodo consequat. Duis autem vel eum iriure.
                            dolor in hendrerit in vulputate velit.
                        .chef_text__name Andreo Moreno,
                            .chef_text__name--position Master-Chef
                        a.chef_text__btn.btn.btn--md(href="#") view all team

            .grey-block
                .staff-wrapper
                    .staff_headline.headline
                        h2.headline_top staff
                        .headline_text Meet the Team

                    .staff
                        .staff_item
                            .staff_item__img.staff_item__img--amanda
                            .staff_item__name Amanda Finch
                            .staff_item__position Chef, Co-Founder
                        .staff_item
                            .staff_item__img.staff_item__img--joseph
                            .staff_item__name Joseph Verder
                            .staff_item__position Chef
                        .staff_item
                            .staff_item__img.staff_item__img--anthony
                            .staff_item__name Anthony Mann
                            .staff_item__position Waiter
                        .staff_item
                            .staff_item__img.staff_item__img--julia
                            .staff_item__name Julia Green
                            .staff_item__position Waitress
            #gallery.gallery-block
                .gallery-block_headline.headline
                    h2.headline_top gallery
                    .headline_text Check Our Recent  Projects
                .gallery.row
                    .gallery_photoset.column
                        img(onclick="openModal();currentSlide(1)" alt="").hover-shadow.cursor.demo
                    .gallery_photoset.column
                        img(onclick="openModal();currentSlide(2)" alt="").hover-shadow.cursor.demo
                    .gallery_photoset.column
                        img(onclick="openModal();currentSlide(3)" alt="").hover-shadow.cursor.demo
                    .gallery_photoset.column
                        img(onclick="openModal();currentSlide(4)" alt="").hover-shadow.cursor.demo
                    .gallery_photoset.column
                        img(onclick="openModal();currentSlide(5)" alt="").hover-shadow.cursor.demo
                #myModal.modal
                    span.close.cursor(onclick="closeModal()") &times;
                    .modal-content
                        .mySlides
                            .numbertext 1 / 5
                            img(src="images/23.png" alt="")
                        .mySlides
                            .numbertext 2 / 5
                            img(src="images/24.png" alt="")
                        .mySlides
                            .numbertext 3 / 5
                            img(src="images/25.png" alt="")
                        .mySlides
                            .numbertext 4 / 5
                            img(src="images/26.png" alt="")
                        .mySlides
                            .numbertext 5 / 5
                            img(src="images/27.png" alt="")
                        a.prev(onclick="plusSlides(-1)") &#10094;
                        a.next(onclick="plusSlides(1)") &#10095;




                a.gallery-block_btn.btn.btn--md(href="#") view more projects


            #contacts.grey-block
                .feadback
                    .feadback_headline.headline
                        h2.headline_top contact us
                        .headline_text Leave a Feadback or Ask a Question

                    form.feadback_form
                        .feadback_form-group
                            input(type="text"  placeholder="Your name:")
                        .feadback_form-group
                            input(type="email" aria-describedby="emailHelp" placeholder="e-mail address:")
                        .feadback_form-group
                            textarea(rows="3" placeholder="send a message:")
                        button(type="submit").feadback_btn.btn.btn--md send message
                a.feadback_circle-btn.circle-btn.circle-btn--lg.fas.fa-angle-up(href="#header")
                    .feadback_circle-btn__text top
        footer.footer
            .footer_block
                .contacts
                    a.contacts_icon.fas.fa-phone(href="tel:1234567890")
                    a.contacts_tel(href="tel:1234567890") 123-456-7890
                    a.contacts_mail(href="mailto:info@yoursita.com") info@yoursite.com
                a.logo(href="#")
                    .logo_name  Royal
                        .logo_name__bottom event
                    .logo_type catering
                .location
                    .location_adress 123, New Lenox Chicago, IL 60606

            .social-networks
                a(href="#").social-networks_item.fab.fa-twitter
                a(href="#").social-networks_item.fab.fa-facebook-f
                a(href="#").social-networks_item.fab.fa-tumblr
                a(href="#").social-networks_item.fab.fa-instagram
            .footer_bottom Ancora © 2016 All Rights Reserved
                a(href="#") Terms of Use
                span and
                a(href="#") Privacy Policy
        script(src="js/viewportchecker.js")
        script(src="js/jquery.flexslider.js")
        script(src="js/slick.min.js")
        script(src="js/row-grid.js")
        script(src="js/js.js")