@font-face
  font-family 'PTSerif'
  src url('../fonts/PTSerifBold.woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'PTSerif'
  src url('../fonts/PTSerifRegular.woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Yellowtail'
  src url('../fonts/Yellowtail-Regular.otf')
  font-weight normal
  font-style normal